
beautifulsoup4==4.12.3
beniget==0.4.1
black==24.8.0
bleach==6.1.0
blinker==1.4
blis==0.7.11
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.4.0
catalogue==2.0.10
catboost==1.2.5
category-encoders==2.6.3
certifi==2024.8.30
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.18.1
cloudpickle==3.0.0
collection==0.1.6
#
#Django==5.0.4
dnspython==2.6.1
docker==7.1.0
#dtale==3.11.0
#duplicity==0.8.21
#ecdsa==0.19.0
email_validator==2.2.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
#fastapi==0.111.1
#fastapi-cli==0.0.4
#fasteners==0.14.1
#fastjsonschema==2.19.1
#filelock==3.13.4
#Flask==2.2.5
#Flask-Compress==1.14
#flask-ngrok==0.0.25
#
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata==7.2.1
ipyflow==0.0.200
ipyflow-core==0.0.200
ipykernel==6.29.4
ipython==8.23.0
ipython_genutils==0.2.0
#
joblib==1.4.0
json5==0.9.24
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.10
kagglehub==0.3.0
#
langcodes==3.4.0
language-selector==0.1
language_data==1.2.0
#
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.5.1
matplotlib-inline==0.1.6
mdurl==0.1.2
missingno==0.5.2
mistune==3.0.2
ml-dtypes==0.4.0
mlflow==2.15.1
mlflow-skinny==2.15.1
monotonic==1.6

numpy==1.24.2
nvidia-nccl-cu12==2.22.3
oauthlib==3.2.0
olefile==0.46
openpyxl==3.1.2
opentelemetry-api==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opt-einsum==3.3.0
optree==0.12.1
optuna==3.6.1
#
pandas==2.2.1
#
PySocks==1.7.1
python-apt==2.4.0+ubuntu4
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-jose==3.3.0
python-json-logger==2.0.7
python-multipart==0.0.9
#rs==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
€.1
#sortedcontainers==2.4.0
#soupsieve==2.5
#spacy==3.7.6
#spacy-legacy==3.0.12
#spacy-loggers==1.0.5
sql==2022.4.0
SQLAlchemy==2.0.32
sqlparse==0.5.0
squarify==0.4.3
srsly==2.4.8
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.14.2
streamlit==1.36.0
#
#systemd-python==234
#tenacity==8.2.3
#tensorboard==2.17.0
#tensorboard-data-server==0.7.2
#tensorflow==2.17.0
#tensorflow-io-gcs-filesystem==0.37.1
#tensorflow-text==2.17.0
#
uvicorn==0.30.3
uvloop==0.19.0
virtualenv==20.25.3

websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.2
widgetsnbextension==4.0.10
wordcloud==1.9.3

xgboost==2.1.0
#